/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*===========reset==============*/

body {
   background-image: url(https://ae01.alicdn.com/kf/H549cdabe79c94b5d9eca9f414c93b7a2L/8x8ft-grama-fada-alice-wonderland-flores-buraco-da-fechadura-castelo-jardim-personalizado-photo-studio-backdrops-vinil.jpg);
}

h1 {
   text-align: center;
   font-size: 45px;
   color: white;
}

h2 {
   text-align: center;
   font-size: 40px;
   color: white;
   background-color: yellowgreen;
}

.t {
   display: none;
}
.win {
   display: block;
}

#container {
   height: 525px;
   width: 840px;
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
   flex-direction: row;
}

.line {
   display: flex;
}

.wall {
   height: 35px;
   width: 40px;
   background-color: black;
   opacity: 0.8;
}

.start {
   height: 35px;
   width: 40px;
   background-image: url(https://w7.pngwing.com/pngs/232/522/png-transparent-alice-in-wonderland-red-queen-queen-of-hearts-alice-s-adventures-in-wonderland-knave-of-hearts-alice-in-wonder-land-alice-in-wonderland-queen-of-hearts-alice-s-adventures-in-wonderland-thumbnail.png);
   background-size: cover;
   border-radius: 25px;
}
.finish {
   height: 35px;
   width: 40px;
   background-image: url(https://img.favpng.com/15/22/23/cheshire-cat-alice-s-adventures-in-wonderland-the-mad-hatter-queen-of-hearts-png-favpng-YfuQPncH9jW9Q5reGzBYBPtxB.jpg);
   background-size: cover;
   border-radius: 25px;
}
.way {
   height: 35px;
   width: 40px;
   /* background-color: green; */
}
#p1 {
   height: 35px;
   width: 40px;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfliTi4yEZ85CqtnPVq0tRnzPR_j7ZkY7DmQ&usqp=CAU);
   background-size: cover;
   border-radius: 25px;
}